//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;


// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              darken($blue, 15%) !default;
$blueLight:             lighten($blue, 10%);
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

$sidebarFontColor:  $white;
$sidebarItemColor:  $gray;
$sidebarItemHoverColor:  $grayDark;
$sidebarItemActiveColor:  $blueDark;
$sidebarItemActiveFontColor:  $white;
$sidebarItemActiveBorderColor:  $blue;
$sidebarBGColor:  darken($sidebarItemColor, 5%);