/* line 4, ../../sass/master.scss */
body {
  margin-top: 55px;
  margin-bottom: 80px; }

/* line 9, ../../sass/master.scss */
.content {
  margin-left: 180px; }

/* line 3, ../../sass/_default.scss */
.topbar.navbar {
  top: 0px;
  position: fixed;
  border-top: 2px solid #049cdb; }
/* line 8, ../../sass/_default.scss */
.topbar.navbar .brand {
  font-size: small;
  padding-top: 10px;
  padding-bottom: 10px; }
/* line 14, ../../sass/_default.scss */
.topbar.navbar .navbar-inner {
  min-height: 25px; }
/* line 18, ../../sass/_default.scss */
.topbar.navbar .nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px; }

/* line 24, ../../sass/_default.scss */
.nav-list.affix {
  top: 43px;
  -webkit-transform: translateZ(0);
  background-color: #484848;
  width: 160px;
  height: 100%; }
/* line 31, ../../sass/_default.scss */
.nav-list.affix li > a {
  position: relative;
  background-color: #555555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 32px;
  color: white;
  text-shadow: none; }
/* line 40, ../../sass/_default.scss */
.nav-list.affix li > a i {
  font-size: 14px; }
/* line 42, ../../sass/_default.scss */
.nav-list.affix li > a:hover {
  color: white;
  background-color: #333333; }
/* line 48, ../../sass/_default.scss */
.nav-list.affix li {
  margin-bottom: 1px; }
/* line 50, ../../sass/_default.scss */
.nav-list.affix li.active > a {
  border-left: 4px solid #049cdb;
  color: white;
  background-color: #036690; }
/* line 54, ../../sass/_default.scss */
.nav-list.affix li.active > a:hover {
  background-color: #333333; }
/* line 58, ../../sass/_default.scss */
.nav-list.affix li.active > a::after {
  content: "";
  top: 9px;
  position: absolute;
  border-style: solid;
  border-width: 10px;
  right: 0;
  border-color: transparent white transparent transparent; }
